* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  font-family: "popons", sans-serif;
  background-color: whitesmoke;
  overflow-x: hidden;
}

.header {
  height: 660px;
  /* position: relative; */
}
header {
  width: 100%;
  /* background-color: #da6b1d; */
  background-image: url("images/hero-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 600px;
  position: relative;
}

.navbar {
  min-height: 110px;
  width: 100%;
  background-color: rgb(2, 2, 17);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  z-index: 10;
  /* position: fixed; */
}
.hero {
  background-color: #463d37;
  width: 100%;
  min-height: 20vh;
}

.navbar-box {
  display: flex;
  align-items: center;
  font-size: 50px;
  color: white;
}

.heading-name {
  font-size: 2.5rem;
  font-family: "Bebas Neue", "sans-serif";
  color: rgb(255, 81, 0);
  text-transform: uppercase;
  margin: 0;
}

.navbar-list {
  list-style: none;
  font-size: 50px;
}

.navbar-item {
  display: inline-block;
}

.navbar-link:visited,
.navbar-link:link {
  text-decoration: none;
  color: white;
  padding: 1rem 3rem;
  margin: 0 10px;
  /* border-bottom: 1px solid #da6b1d; */
  transition: all 0.2s ease;
}

.navbar-link:hover {
  /* background-color: #da6b1d; */
  color: white;
  border-bottom: 1px solid #da6b1d;
  border-radius: 30px;
}

.navbar-link-book:visited,
.navbar-link-book:link {
  text-decoration: none;
  color: white;
  padding: 1rem 1.5rem;
  border: 1px solid #da6b1d;
  border-radius: 200px;
  box-shadow: 0 0 1rem rgba(236, 118, 40, 0.5);
  text-shadow: 0 0.3rem 1rem rgba(255, 255, 255, 0.5);
  transition: all 0.4s ease;
}

.navbar-link-book:hover {
  background-color: #da6b1d;
  color: white;
  border-radius: 10px;
}

.toggle {
  height: 5rem;
  width: 5rem;
  display: none;
}

.toggle div {
  height: 4px;
  width: 100%;
  background-color: white;
  margin: 1rem;
}

.video {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
}

#video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  z-index: -1;
}

.overlaye {
  width: 100%;
  min-height: 600px;
  background-color: rgba(0, 0, 0, 0.89);
  /* background-color: rgba(0, 0, 0, 0.39); */
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  text-transform: uppercase; */
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-box {
  width: 60%;
  font-family: "Lobster";
}
.hero-box h1 {
  font-size: 4rem;
}
.hero-box p {
  width: 70%;
  line-height: 1.5;
  text-align: left;
  font-size: 1.4rem;
  margin-top: 10px;
  color: gainsboro;
}

.welcome {
  color: rgb(255, 81, 0);
  font-weight: 800;
  font-size: 8rem;
}

.restaurant {
  color: rgb(255, 81, 0);
  font-size: inherit;
}

.book-now:visited,
.book-now:link {
  text-decoration: none;
  display: inline-block;
  color: white;
  background-color: rgb(255, 81, 0);
  font-size: 1.5rem;
  padding: 1rem 1.5rem;
  margin-top: 1rem;
  border: none;

  border-radius: 100px;
  transition: all 0.3s ease;
  box-shadow: 0 1rem 1rem rgba(240, 107, 55, 0.1);
  text-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.6);
}

.book-now:hover {
  background-color: #da6b1d;
  border: 1px solid white;
  box-shadow: 0 0 2rem rgba(240, 107, 55, 0.8);
}

.about {
  width: 100%;
  height: 500px;
}
.about h2 {
  font-size: 70px;
  text-align: center;
  /* text-shadow: 0 0 1rem rgba(0, 0, 0, 0.9); */
  text-transform: uppercase;
  color: rgb(2, 2, 17);
  /* font-weight: 800; */
  font-family: "Bebas Neue", "Times New Roman", Times, serif;
  margin: 2rem;
}
.about p {
  font-size: 20px;
  line-height: 26px;
  text-align: start;
  justify-content: center;
  padding-bottom: 40px;
}
.info {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  column-gap: 20px;
  width: 90%;
  margin-left: 70px;
}

/* MENU */

.menu {
  width: 100%;
  padding: 0 5rem;
  /* background-image: linear-gradient(
    75deg,
    rgb(255, 81, 0),
    rgba(255, 0, 0, 0.5)
  ); */
}

.menu-heading {
  font-size: 70px;
  text-align: center;
  /* text-shadow: 0 0 1rem rgba(0, 0, 0, 0.9); */
  text-transform: uppercase;
  color: rgb(2, 2, 17);
  /* font-weight: 800; */
  font-family: "Bebas Neue", "Times New Roman", Times, serif;
  margin: 2rem;
}

.menu-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 50px;
}

.menu-grid img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.menu-container {
  width: 100%;
  height: auto;
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
  transition: all 0.4s ease;
  text-align: center;
}

.menu-container:hover {
  box-shadow: 0 0 5rem rgba(0, 0, 0, 0.4);
  transform: scale(1.07);
}

.menu-p {
  font-size: 14px;
  padding: 8px;
  text-align: center;
}

.menu-title {
  font-size: 35px;
  text-align: center;
  margin: 15px 0;
}

.price {
  font-size: 35px;
  margin-top: 8px;
  text-align: center;
  color: #da6b1d;
  text-shadow: 0 0.4rem 2rem rgba(0, 0, 0, 0.4);
}
.contact-details {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
/* neww */
.book-btn {
  padding: 1rem 2rem;
  text-align: center;
  margin: 1rem 0;
  border-radius: 200px;
  background-color: rgb(2, 2, 44);
  color: white;

  text-decoration: none;
  /* color: white; */
  /* padding: 1rem 1.5rem; */
  border: 1px solid #da6b1d;
  box-shadow: 0 0 1rem rgba(236, 118, 40, 0.5);
  text-shadow: 0 0.3rem 1rem rgba(255, 255, 255, 0.5);
  transition: all 0.4s ease;
}
.book-btn:hover {
  background-color: rgb(218, 107, 29);
  border: 1px solid #da6b1d;
  color: white;
  border-radius: 10px;
}
.team {
  background-color: rgb(255, 81, 0);
  color: white;
}

.team h2 {
  font-size: 70px;
  text-align: center;
  text-transform: uppercase;

  font-family: "Bebas Neue", "Times New Roman", Times, serif;
  margin: 2rem;
}

.members {
  display: flex;
  justify-content: space-evenly;
}

.team-mem {
  margin: 8px;
}
.team img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 10px;
  object-fit: cover;
}

h4,
p {
  text-align: center;
  font-size: 20px;
  margin: 7px;
}

/* neww */
.contact h2 {
  font-size: 70px;
  text-align: center;
  /* text-shadow: 0 0 1rem rgba(0, 0, 0, 0.9); */
  text-transform: uppercase;
  color: rgb(2, 2, 17);
  /* font-weight: 800; */
  font-family: "Bebas Neue", "Times New Roman", Times, serif;
  margin: 2rem;
}
.map-container {
  flex-basis: 50%;
  height: 600px;
  position: relative;
  overflow: hidden;
  margin-top: 50px;
}

.map {
  width: 100%;
}

.form-container {
  flex-basis: 50%;
  padding: 50px;
}

form {
  max-width: 400px;
  margin: auto;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
  color: rgb(2, 2, 17);
  font-size: 20px;
}

input,
textarea {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgb(2, 2, 17);
  margin-bottom: 20px;
  font-size: 24px;
}

input[type="submit"] {
  background-color: rgb(255, 81, 0);
  color: white;
  font-weight: bold;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #da6b1d;
}
footer {
  color: #fff;
  padding: 50px 0;
  background-color: rgb(2, 2, 17);
}

footer .container {
  width: 100%;
  margin-left: 20px;
  height: 190px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-sm-4 {
  flex-basis: 30%;
  padding: 0 15px;
  font-size: 40px;
}

h3 {
  font-size: 24px;
  font-weight: bolder;
  margin-bottom: 30px;
}

.social-icons a {
  display: inline-block;
  color: #fff;
  background-color: rgb(255, 81, 0);
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 50%;
  margin-right: 10px;
  transition: all 0.3s ease;
}

.social-icons a:hover {
  background-color: #fff;
  color: rgb(255, 81, 0);
}

.social-icons i {
  line-height: 40px;
}

.contact-info {
  list-style: none;
  margin: 0;
  padding: 0;
  color: rgb(141, 138, 138);
}

.contact-info li {
  margin-bottom: 10px;
}

.navigate a {
  padding: 0;
  color: white;
  text-decoration: none;
  color: rgb(141, 138, 138);
}
.navigate li {
  list-style: none;
  margin-bottom: 10px;
}
.note a {
  font-size: 15px;
  text-decoration: none;
}
footer img {
  display: inline-flex;
  justify-content: space-between;
  margin-top: 20px;
  width: 40px;
  height: 20px;
}
